.body {
  background-color: #8ECAE6;
  color: #023047;
  font-family: "Teko";
  font-size: 2rem;
  font-weight: 300;
}
.nav {
   background-color: #023047;
   color: #ffb703;
 }

 .label {
   margin-right: 1vw;
 }



/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 15vh;
  width: 60vw;
  margin-bottom: 2.5vh;
}

.button {
  background-color: #ffb703;
  color: #023047;
  height: 5vh;
  width: 20vw;
  font-size: 2rem;
}

/* Preferences Page */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.distance {
  display: flex;
  flex-direction: row;
}

/* Restaurant Page */
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#restaurant {
  font-size: 6rem;
  font-weight: 500;
}
